@page {
    /* reMarkable Paper Pro Size: */
    size: 180mm 240mm;
    margin: 1cm 2cm;
}

@media print {
    body {
        /* Base font size suitable for general reading. Fairly small. */
        font-size: 7.5pt !important;
        /* Increases spacing between lines for easier readability */
        line-height: 1.8;
    }
}
